@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation bar : logo & image*/
#logo {
  margin-top: 30px;
  width: 180px;
  /* filter:invert(100%) */
  /* border-radius: 70%; */
  /* padding: 3px; */
}

/* navigation bar : list styling */
#navbar {
  display: flex;
  align-items: center;
}

#navbar {
  position: relative;
  height: 100px;
}

#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: brown;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navbar ul li {
  /* color: white; */
  list-style: none;
  font-size: 1.3rem;
  font-family: "Satisfy", cursive;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 20px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: grey;
}

/* Home section  */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}

#home h1 {
  color: white;
  text-align: center;
}

#home {
  content: "";
  background: url(./Images/bckg.jpg) no-repeat center/cover;
  height: 50vh;
  z-index: -1;
  /* opacity: 0.89; */
}
/* services section  */
#services {
  margin: 34px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 28px;
  background: rgb(189, 182, 182);
}
#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

.home-one {
  text-align: center;
  margin-bottom: 5rem;
}

.h-primary {
  text-align: center;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  padding: 12px;
}

.h-secondary {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  padding: 12px;
  text-align: center;
}
/* client section */
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#client-section {
  height: 334px;
}

#clients img {
  height: 84px;
}

.client-item {
  padding: 24px;
}

#client-section::before {
  content: "";
  display: block;
  position: absolute;
  background: url(./Images/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;

  z-index: -1;
}

.center {
  margin-top: 0.8rem;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(122, 109, 109);
  color: white;
  margin: 15px;
  font-size: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}

/* contact section  */
#contact {
  position: relative;
}
#contact::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url(./Images/contact-us\ bg2.jpg) no-repeat center center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-family: "Dancing Script", cursive;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

footer {
  background: black;
  color: white;
  padding: 3px 15px;
  text-align: center;
}
